name: Deploy React + PHP App (react-app)

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Build React frontend
        run: |
          cd frontend
          npm install
          npm run build

      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd /var/www/react-app
            git pull origin main

            TMP_DIR=/var/www/react-app/public_tmp
            rm -rf $TMP_DIR
            cp -r /var/www/react-app/frontend/dist $TMP_DIR

            # 2. Swap folders atomically
            sudo mv /var/www/react-app/public /var/www/react-app/public_old
            sudo mv $TMP_DIR /var/www/react-app/public

            # 3. Fix permissions
            sudo chown -R www-data:www-data /var/www/react-app/public
            sudo chmod -R 755 /var/www/react-app/public

            # 4. Reload nginx
            sudo systemctl reload nginx

            # Optional: remove old folder
            rm -rf /var/www/react-app/public_old

            # Deploy React build
            #sudo rm -rf /var/www/react-app/public/*
            #sudo cp -r /var/www/react-app/frontend/dist/* /var/www/react-app/public/
            #sudo chown -R www-data:www-data /var/www/react-app/public
            #sudo chmod -R 755 /var/www/react-app/public
            #sudo systemctl reload nginx


            #rm -rf public/*
            #cp -r frontend/build/* public/

            #sudo rm -rf /var/www/react-app/public/*
            #sudo cp -r /var/www/react-app/frontend/dist/* /var/www/react-app/public/


            #sudo cp -r /var/www/react-app/frontend/dist/* /var/www/react-app/public/
            #sudo chown -R www-data:www-data /var/www/react-app/public
            #sudo chmod -R 755 /var/www/react-app/public
            #sudo systemctl reload nginx

            # PHP dependencies (optional)
            if [ -f backend/composer.json ]; then
              cd backend
              composer install --no-dev --optimize-autoloader
            fi

